<div class="filds_hdr">
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- logo start -->
      <div class="navbar-header">
        <span class="togle_icon" id="menu" (click)="toggleMenu()"><img src="../../../assets/slotsAssets/img/toggle_icon.png">
        </span>
        <a class="navbar-brand brnd_logo" href="#"><img src={{somevalue}} (error)="updateUrl($event)"></a>
      </div>
      <!-- logo end -->
      <!-- page title start -->
      <h3 class="pag_title">{{cityName}} - Fields Manager</h3>
      <!-- page title end -->
      <!--&lt;!&ndash; profile dropdown start &ndash;&gt;-->
      <!--<div class="dropdown prf_drp">-->
      <!--<button class="btn btn-default dropdown-item dropdown-toggle prf_drp_btn" type="button" data-toggle="dropdown" data-target="#dropdownMenu1" aria-haspopup="true" aria-expanded="true">-->
      <!--<i>J</i>-->
      <!--&lt;!&ndash; <span class="caret"></span> &ndash;&gt;-->
      <!--</button>-->
      <!--<ul class="dropdown-menu" id="dropdownMenu1" aria-labelledby="dropdownMenu1">-->
      <!--<li><a href="#">Option One</a></li>-->
      <!--<li><a href="#">Option Two</a></li>-->
      <!--<li><a href="#">Option Three</a></li>-->
      <!--<li role="separator" class="divider"></li>-->
      <!--<li><a [routerLink]="['/admin/logout']">Logout</a></li>-->
      <!--</ul>-->
      <!--</div>-->
      <!--&lt;!&ndash; profile dropdown end &ndash;&gt;-->
    </div>
  </nav>
</div>