<!--<form class="form-signin" method="POST" action="#" role="form">-->
<!--<div class="form-group">-->
<!--<h2>Set new password</h2>-->
<!--</div>-->
<!--<div *ngIf="errorMessage!=null" class="alert alert-danger">-->
<!--{{ errorMessage }}-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label class="control-label" for="signupEmail">Username / Email</label>-->
<!--<input id="signupEmail" type="email" maxlength="50" class="form-control"-->
<!--[(ngModel)]="registrationUser.username" [ngModelOptions]="{standalone: true}">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label class="control-label" for="existingPassword">Temporary Password</label>-->
<!--<input id="existingPassword" type="password" maxlength="25" class="form-control"-->
<!--placeholder="at least 8 characters" length="40" [(ngModel)]="registrationUser.existingPassword"-->
<!--[ngModelOptions]="{standalone: true}">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label class="control-label" for="signupPassword">New Password</label>-->
<!--<input id="signupPassword" type="password" maxlength="25" class="form-control"-->
<!--placeholder="at least 8 characters" length="40" [(ngModel)]="registrationUser.password"-->
<!--[ngModelOptions]="{standalone: true}">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<button (click)="onRegister()" id="signupSubmit" type="submit" class="btn btn-info btn-block">-->
<!--Set your password-->
<!--</button>-->
<!--</div>-->
<!--<hr>-->
<!--<p>Already have an account? <a [routerLink]="['/home/login']"> <i class="fa fa-fw fa-lock"></i>Login</a></p>-->
<!--</form>-->


<!-- fields home start -->
<div class="container-fluid fild_hm gr_form">
    <!-- fields home left form start -->

    <div class="row gr_form_bg">
        <div class="gr_form_lft">
            <div class="fild_hm_lft">
                <a href="#" class="fild_hm_logo"><img src={{somevalue}} (error)="updateUrl($event)"></a>
                <h3>Set New Password</h3>
                <div *ngIf="errorMessage!=null" class="alert alert-danger">
                    {{ errorMessage }}
                </div>
                <!--<div *ngIf="!mfaStep">-->
                <form class="set_new_pass gr_resrve_frm">
                    <ul>

                        <li class="row">
                            <div class="col-md-12">
                                <div class="form-group has-feedback">
                                    <input id="signupEmail" type="email" maxlength="50" class="form-control"
                                        [(ngModel)]="registrationUser.username" [ngModelOptions]="{standalone: true}"
                                        placeholder="Username">
                                </div>
                            </div>
                        </li>

                        <li class="row">
                            <div class="col-md-12">
                                <div class="form-group has-feedback">
                                    <input id="existingPassword" type="password" maxlength="25" class="form-control"
                                        placeholder="Temporary Password" length="40" [(ngModel)]="registrationUser.existingPassword"
                                        [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                        </li>

                        <li class="row">
                            <div class="col-md-12">
                                <div class="form-group has-feedback">
                                    <input id="signupPassword" type="password" maxlength="25" class="form-control"
                                        placeholder="New Password" length="40" [(ngModel)]="registrationUser.password"
                                        [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                        </li>
                        <li class="row">
                            <div class="col-md-12">
                                <div class="form-group has-feedback">
                                    <input id="signupRePassword" type="password" maxlength="25" class="form-control"
                                        placeholder="Re-Enter New Password" length="40" [(ngModel)]="registrationUser.repassword"
                                        [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                        </li>
                        <!--<li class="row" [routerLink]="['/home/forgotPassword']"> <div class="col-md-12"><a class="forget_pass">Forgot your password? </a></div></li>-->

                    </ul>
                    <div>
                        <div class="col-md-12">
                            <button (click)="onRegister()" id="signupSubmit" type="submit" [disabled]="!(registrationUser.repassword == registrationUser.password != '')"
                                class="btn btn-info btn-block pass_sbmt_btn">
                                Submit
                            </button>
                        </div>
                        <div class="col-md-12">
                            <p class="btm_txt">Login with other account? <a [routerLink]="['/home/login']"> <i class="fa fa-fw fa-lock"></i>Login</a></p>
                        </div>
                    </div>
                </form>
                <!--</div>-->
                <!--<div class="form-group" *ngIf="mfaStep">-->
                <!--<app-mfa [destination]="mfaData.destination"-->
                <!--[onSubmit]="mfaData.callback"></app-mfa>-->
                <!--<hr>-->
                <!--<a (click)="cancelMFA()" href="">Cancel</a>-->
                <!--</div>-->
                <!--<app-forgotPassword></app-forgotPassword>-->
                <!--<app-forgotPasswordStep2></app-forgotPasswordStep2>-->
            </div>
        </div>
        <!-- fields home left form end -->
        <!-- fields home right start -->
        <div class="gr_form_rgt fild_hm_rgt">
            <div class="hm_rgt_title">
                <h3>{{ cityName }} - Fields Manager</h3>
                <p>{{ address }}<br />
                    {{ cityName }}, {{ state }}</p>
            </div>
            <div class="hm_copyright_txt">
                <p>© 2018 Copyright: Powered by <a href="https://www.bizcloudexperts.com/">BizCloud Experts</a></p>
            </div>
        </div>
        <!-- fields home right end -->
    </div>
</div>
<!-- fields home end -->