<!-- fields home start -->
<div class="container-fluid fild_hm gr_form">
	<!-- fields home left form start -->

	<div class="row gr_form_bg">
			<div class="gr_form_lft">
					<div class="fild_hm_lft">
							<a href="#" class="fild_hm_logo"><img src={{somevalue}} (error)="updateUrl($event)" /></a>
							<h3>Check Reservation Status</h3>
							<div *ngIf="errorMessage!=null" class="alert alert-danger">
									{{ errorMessage }}
							</div>
							<div>
									<form class="gr_resrve_frm">
											<ul>

													<li class="row">
															<div class="col-md-12">
																	<div class="form-group has-feedback">
																			<input id="reservationNumber" required type="number" maxlength="100" class="form-control"
																					[(ngModel)]="reservationNumber" [ngModelOptions]="{standalone: true}" placeholder="Reservation Number">
																	</div>
															</div>
													</li>

													<li class="row">
															<div class="col-md-12">
																	<div class="form-group has-feedback">
																			<input id="email" required type="email" class="form-control"
																					length="40" [(ngModel)]="email" [ngModelOptions]="{standalone: true}"
																					placeholder="Email">
																	</div>
															</div>
													</li>

											</ul>
											<div>
													<div (click)="onSubmit()" id="checkStatusSubmit" type="submit" class="col-md-12"><button class="nxt_btn">Check Status</button></div>
											</div>
									</form>
							</div>
							<!--<app-forgotPassword></app-forgotPassword>-->
							<!--<app-forgotPasswordStep2></app-forgotPasswordStep2>-->
					</div>
			</div>
			<!-- fields home left form end -->
			<!-- fields home right start -->
			<div *ngIf="!slotStatusMenu && !noSlotsMenu" class="gr_form_rgt fild_hm_rgt">
					<div class="hm_rgt_title">
							<h3>{{ cityName }} - Fields Manager</h3>
							<p>{{ address }}<br></p>
									<!-- {{ cityName }}, {{ state }}</p> -->
					</div>
					<div class="hm_copyright_txt">
							<p>© 2018 Copyright: Powered by <a href="https://www.bizcloudexperts.com/">BizCloud Experts</a></p>
					</div>
			</div>
			<!-- fields home right end -->
			<div *ngIf="slotStatusMenu" class="gr_form_rgt fild_hm_rgt">
			<div class="hm_rgt_title">
			<div class="check_stat_cntnt">
				<h2>FACILITY RESERVATION DETAILS </h2>

				<ul>
				<li>
					<h5>Applicant Name: </h5>
					<h6>{{applicantName}}</h6>
				</li>
				
				<li>
					<h5>Team Name: </h5>
					<h6>{{teamName}}</h6>
				</li>

				<li>
					<h5>Resident Of: </h5>
					<h6>{{residentOf}}</h6>
				</li>

				<li>
					<h5>E-Mail: </h5>
					<h6>{{responseEmail}}</h6>
				</li>

				<li>
					<h5>Phone: </h5>
					<h6>{{phoneNumber}}</h6>
				</li>

				<li>
					<h5>Park Name: </h5>
					<h6>{{parkName}}</h6>
				</li>

				<li>
					<h5>Ground Name: </h5>
					<h6>{{groundName}}</h6>
				</li>

				<li>
					<h5>Date: </h5>
					<h6>{{date}}</h6>
				</li>

				<li>
					<h5>Slot: </h5>
					<h6>{{slot}}</h6>
				</li>

				<li class="check_stat_row">
					<h5>Slot Status: </h5>
					<h6>{{slotStatus}}</h6>
				</li>

				<!-- <li class="check_stat_row">
					<h5>Processed By: </h5>
					<h6>{{processedBy}}</h6>
				</li> -->
				<!-- <button><img style="height:20px; width: 30px;" src="../../../assets/img/download.png" /></button> -->
			</ul>
			<div class="col-md-12"><button style="float: right;" (click)="print()"><img style="height:20px; width: 20px;" src="../../../assets/img/print.png" /></button></div>

			</div>
			</div>
			</div>
			<div *ngIf="noSlotsMenu" class="gr_form_rgt fild_hm_rgt">
				<div class="hm_rgt_title">
					<div class="check_stat_cntnt">
						<h4>Slot doesnot exist</h4>
					</div>
				</div>
			</div>
	</div>
</div>
<!-- fields home end -->
<p-dialog [resizable]="false" [draggable]="false" [closable]="false" [modal]="true" [visible]="loadingBar">
	<div id="loadingModal" style="overflow-y:visible; ">
			<h3 style="text-align: center;">Loading...</h3>
			<br>
			<div class="progress progress-striped active" style="margin-bottom:0;
						 width: 100%;">
					<div class="progress-bar progress-bar-success" style="width: 100%"></div>
			</div>
	</div>
</p-dialog>