<!-- fields home start -->
<div class="container-fluid fild_hm gr_form">
    <!-- fields home left form start -->

    <div class="row gr_form_bg">
        <div class="gr_form_lft">
            <div class="fild_hm_lft">
                <a href="#" class="fild_hm_logo"><img src={{somevalue}} (error)="updateUrl($event)" /></a>
                <h3>Forgot Password</h3>
                <div *ngIf="errorMessage!=null" class="alert alert-danger">
                    {{ errorMessage }}
                </div>
                <!--<div *ngIf="!mfaStep">-->
                <form class="gr_resrve_frm">
                    <ul>

                        <li class="row">
                            <div class="col-md-12">
                                <div class="form-group has-feedback">
                                    <input id="verificationCode" type="verificationCode" maxlength="50" class="form-control"
                                        [(ngModel)]="verificationCode" [ngModelOptions]="{standalone: true}"
                                        placeholder="Verification Code">
                                </div>
                            </div>
                        </li>

                        <li class="row">
                            <div class="col-md-12">
                                <div class="form-group has-feedback">
                                    <input id="newPassword" type="password" maxlength="25" class="form-control" length="40"
                                        [(ngModel)]="password" [ngModelOptions]="{standalone: true}" placeholder="New Password">
                                </div>
                            </div>
                        </li>

                        <!--<li class="row" [routerLink]="['/home/forgotPassword']"> <div class="col-md-12"><a class="forget_pass">Forgot your password? </a></div></li>-->

                    </ul>

                    <div>
                        <div class="col-md-6">
                            <a [routerLink]="['/home/resendCode']" class="clr_btn"> <i class="glyphicon glyphicon-menu-left"></i>
                                Go back</a>
                        </div>
                        <div class="col-md-6">
                            <button (click)="onNext()" id="signupSubmit" type="submit" class="btn btn-info btn-block forget_btn">
                                Reset Password
                            </button>
                        </div>
                    </div>
                </form>

                <!--</div>-->
                <!--<div class="form-group" *ngIf="mfaStep">-->
                <!--<app-mfa [destination]="mfaData.destination"-->
                <!--[onSubmit]="mfaData.callback"></app-mfa>-->
                <!--<hr>-->
                <!--<a (click)="cancelMFA()" href="">Cancel</a>-->
                <!--</div>-->
                <!--<app-forgotPassword></app-forgotPassword>-->
                <!--<app-forgotPasswordStep2></app-forgotPasswordStep2>-->
            </div>
        </div>
        <!-- fields home left form end -->
        <!-- fields home right start -->
        <div class="gr_form_rgt fild_hm_rgt">
            <div class="hm_rgt_title">
                <h3>{{ cityName }} - Fields Manager</h3>
                <p>{{ address }}<br />
                    {{ cityName }}, {{ state }}</p>
            </div>
            <div class="hm_copyright_txt">
                <p>© 2018 Copyright: Powered by <a href="https://www.bizcloudexperts.com/">BizCloud Experts</a></p>
            </div>
        </div>
        <!-- fields home right end -->
    </div>
</div>
<!-- fields home end -->